[user]
    name = Christian Schleifer 
    email = {{ .email | quote }}
    signingkey = {{ .git_signing_key | quote }}

[init]
    defaultBranch = {{ .git_default_branch | quote }}

[pull]
    rebase = true

[core]
    autocrlf = input

[alias]
    rank = shortlog -sn --no-merges
    ls = log --abbrev-commit --graph --decorate --no-merges --pretty=format:"%C(yellow)%h%C(cyan)%d\\ %Creset%s%C(cyan)\\ [%cn]"
    lsm = log --abbrev-commit --graph --decorate --pretty=format:"%C(yellow)%h%C(cyan)%d\\ %Creset%s%C(cyan)\\ [%cn]"
    lsa = log --abbrev-commit --graph --all --decorate --no-merges --pretty=format:"%C(yellow)%h%C(cyan)%d\\ %Creset%s%C(cyan)\\ [%cn]"
    lsma = log --abbrev-commit --graph --all --decorate --pretty=format:"%C(yellow)%h%C(cyan)%d\\ %Creset%s%C(cyan)\\ [%cn]"
    co = checkout

[gpg]
    format = ssh

[commit]
    gpgsign = true
