{{ if eq .chezmoi.os "linux" -}}
set -g default-shell /usr/bin/fish
{{- else if  eq .chezmoi.os "darwin" -}}
set -g default-shell /opt/homebrew/bin/fish
{{- end}}

set -g default-terminal "xterm-256color"

# Unbind default prefix
unbind C-b

# Set Ctrl-Space as prefix
set -g prefix '\'
bind '\' send-prefix

set -g base-index 1
setw -g pane-base-index 1
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# split panes using v and s
bind v split-window -h -c "#{pane_current_path}"
bind s split-window -v -c "#{pane_current_path}"
bind c new-window -c "#{pane_current_path}"

setw -g mode-keys vi

{{ if eq .chezmoi.os "darwin" -}}
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"
set -g mouse on
{{- end}}
